* {
    box-sizing: border-box; /* Permet de mieux gérer les bordures et paddings */
}

.Sign {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Ajuste la hauteur à la fenêtre visible */
    position: relative;
}

.Bloc {
    position: relative;
    width: fit-content; /* Ajuste la largeur du bloc */
    border-radius: 15px; /* Coins arrondis */
    overflow: hidden; /* Empêche l'élément débordant */
}

.Bloc img {
    display: block;
    width: 100%;
    height: auto;
}

.Signform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre le formulaire parfaitement */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 100%;
    max-width: 400px; /* Largeur maximale */
    min-width: 300px; /* Largeur minimale pour les petits écrans */
    margin-top: 30%;
}

form div {
    margin-bottom: 20px; /* Espacement entre les champs */
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: rgb(151, 150, 157);
    position: relative;
}

 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin-bottom: 10px; /* Espacement entre le champ et le bouton */
    position: relative;
}

input[name="Name"],input[name="LastName"] {
    width: 50%;
}

.Signform .NameContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 100px;
    position: relative;
    right: 6%;
    bottom: 100px;
}

.SecondPart {
    position: relative;
    bottom: 215px;
    right: 6%;
}

.Sign div button {
    background-color: #029dbd;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 280px;
    left: 200px;
}

.Sign div button:hover {
    background-color: #02799e; /* Couleur de fond lors du survol */
    transform: scale(1.05); /* Agrandit légèrement le bouton */
}

@media screen and (max-width: 768px) {
    form {
        width: 90%; /* Réduit la largeur du formulaire sur les petits écrans */
        min-width: 280px; /* Assure une largeur minimale */
    }
    label {
        font-size: 14px; /* Réduit la taille de la police des labels */
    }
    input, button {
        font-size: 14px; /* Réduit la taille de la police des champs et bouton */
    }
}
